# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/vendor/
# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/
/wp-content/plugins/pressbooks-mpdf/vendor/
/wp-content/plugins/pressbooks/**/**
/wp-content/plugins/ckeditor-for-wordpress/
wp-content/plugins/enable-media-replace/
wp-content/plugins/pressbooks-3/
/wp-content/themes/*
# Log files
*.log
epubcheck-5.1.0.zip
# htaccess
/.htaccess
wp-content/plugins/pressbooks/*

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes