.site-content {
    .chapter {
      table {
        margin: 1.5em 0;
      }

      /*
      h1 {
        margin:1.5em 0 0.5em;
        span {display:inline; font-weight: 600;}
      }
      h2 {
        margin:1.5em 0 0.5em
      }
      h3 {
        margin:1.5em 0 0.5em
      }
      */
    }
  }